* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "JetBrains Mono", monospace;
  background: #1e1e2e;
  color: #cdd6f4;
}

a {
  color: #f38ba8;
}

a,button {
  &:hover {
    cursor: pointer;
    opacity: 0.7;
  }
}

nav {
  display: flex;
  align-content: center;
  padding: 0 2em;
  background: #313244;
  height: 64px;

  span, code, ul {
    display: flex;
    align-items: center;
  }

  code {
    display: inline-flex;
    margin-left: .5em;
    color: #a6adc8;
  }

  ul {
    list-style: none;
    gap: 1em;
  }
}

main {
  padding: 0 2em;
}

footer {
  padding: 2em;
}
