---
import "../styles/global.scss"
import "../styles/fonts.scss"

import { CF_PAGES_COMMIT_SHA } from "astro:env/client"
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>SMC Dashboard</title>
  </head>
  <body>
    <nav>
      <span>@smc/dashboard</span>
      <code>{CF_PAGES_COMMIT_SHA}</code>
      <ul>
        <li>
          <a href="/">home</a>
        </li>
        <li>
          <a href="/">report</a>
        </li>
        <li>
          <a href="/">domains</a>
        </li>
      </ul>
    </nav>
    <slot />
    <footer>
      &copy; {new Date().getFullYear()} StopMalwareContent Contributors
    </footer>
  </body>
</html>
