---
import Layout from "../layouts/Layout.astro"
---

<Layout>
  <main>
    <h1>404</h1>
    <p>Page Not Found</p>
  </main>
</Layout>

<style>
  main {
    text-align: center;
  }

  h1 {
    font-size: 4em;
  }
</style>
